include README.md
include LICENSE
include SECURITY.md
include CONTRIBUTING.md
recursive-include sicario_cli/assets *
recursive-include control_maps *.json *.md
recursive-include docs *.md *.mmd
recursive-include examples *
